#canvas-container {
    position: relative;
  }
  #diceCont {
    position: absolute;
    top: 100px;
    left: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 5px;
  }
  #btnDado {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
  }
  #btnDado:hover:hover {
    background-color: #45a049;
  }

  /* Style the button that is used to open and close the collapsible content */
  #collapsible {
  position: absolute;
  bottom: 60px;
  left: 100px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
#collapsible-btn {
  position: absolute;
  top: 100px;
  left: 1300px;
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration:solid;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#content {
  display: none;
  position: absolute;
  top: 140px;
  left: 1200px;
  right: 20px;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

#content p {
  margin: 0;
}